name: CI Build

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GPR_TOKEN: ${{ secrets.GPR_TOKEN }}
      
    permissions:
      contents: read
      issues: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Run Gradle Build
        run: ./gradlew clean build --stacktrace --info

      - name: Upload Gradle Log on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: gradle-log
          path: build/reports
